In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.appName("DF_LAB_3").getOrCreate()

Bài 1: Hãy đọc dữ liệu từ các file csv, sử dụng tự suy ra kiểu dữ liệu cho mỗi cột.

In [2]:
read_csv = lambda path: spark.read.format("csv").options(
    header="true", inferSchema="true", delimiter=";"
).load(path)


orders = read_csv("data/Orders.csv")
customers = read_csv("data/Customer_List.csv")
order_items = read_csv("data/Order_Items.csv")
products = read_csv("data/Products.csv")
order_reviews = read_csv("data/Order_Reviews.csv")

In [3]:
orders.show(5)

+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+
|            Order_ID|     Customer_Trx_ID|Order_Status|Order_Purchase_Timestamp|Order_Approved_At|Order_Delivered_Carrier_Date|Order_Delivered_Customer_Date|Order_Estimated_Delivery_Date|
+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|         10/2/2023 10:56|  10/2/2023 11:07|             10/4/2023 19:55|             10/10/2023 21:25|              10/18/2023 0:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|         7/24/2024 20:41|   7/26/2024 3:24|             7/26/2024 14:31|               8/7/2024 15:27|               8/13/2024 0:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|           8/8/2024 8:38|    8/8/2024 8:55|              8/8/2024 13:50|              8/17/2024 18:06|                9/4/2024 0:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|        11/18/2023 19:28| 11/18/2023 19:45|            11/22/2023 13:39|               12/2/2023 0:28|              12/15/2023 0:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|         2/13/2024 21:18|  2/13/2024 22:20|             2/14/2024 19:46|              2/16/2024 18:17|               2/26/2024 0:00|
+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

In [4]:

customers.show(5)

+--------------------+--------------------+--------------+----------------+--------------------+-------------+----------------+---------------------+---+------+
|     Customer_Trx_ID|       Subscriber_ID|Subscribe_Date|First_Order_Date|Customer_Postal_Code|Customer_City|Customer_Country|Customer_Country_Code|Age|Gender|
+--------------------+--------------------+--------------+----------------+--------------------+-------------+----------------+---------------------+---+------+
|1e959e1f5920cba43...|9765e039028279fd2...|    2023-07-08|      2023-07-09|            FR-75005|        Paris|          France|                   FR| 29|  Male|
|9877437582f263da7...|a75e134e7eb6f96e2...|    2024-03-23|      2024-04-11|           PL-00-001|       Warsaw|          Poland|                   PL| 38|  Male|
|fa6fbbb2080646aca...|2fdac27295500e820...|    2023-05-12|      2023-06-01|             NL-1012|    Amsterdam|     Netherlands|                   NL| 35|Female|
|a4c9ff14ae7620126...|e9ab8fd8ea96c85be...|    2023-04-16|      2023-04-26|            IT-00144|         Rome|           Italy|                   IT| 62|  Male|
|93d5e378ae2f72a07...|6384e6a7b02171761...|    2023-05-26|      2023-06-27|             NL-1011|    Amsterdam|     Netherlands|                   NL| 19|  Male|
+--------------------+--------------------+--------------+----------------+--------------------+-------------+----------------+---------------------+---+------+
only showing top 5 rows

In [5]:
order_items.show(5)

+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|            Order_ID|Order_Item_ID|          Product_ID|           Seller_ID|Shipping_Limit_Date|Price|Freight_Value|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|     9/19/2023 9:45| 58.9|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|     5/3/2023 11:05|239.9|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|    1/18/2024 14:48|199.0|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|    8/15/2024 10:10|12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|    2/13/2023 13:57|199.9|        18.14|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
only showing top 5 rows

In [6]:
products.show(5)

+--------------------+---------------------+-----------------+-----------------+-----------------+----------------+
|          Product_ID|Product_Category_Name|Product_Weight_Gr|Product_Length_Cm|Product_Height_Cm|Product_Width_Cm|
+--------------------+---------------------+-----------------+-----------------+-----------------+----------------+
|1e9e8ef04dbcff454...|            Perfumery|              225|               16|               10|              14|
|3aa071139cb16b67c...|                  Art|             1000|               30|               18|              20|
|96bd76ec8810374ed...|       Sports_Leisure|              154|               18|                9|              15|
|cef67bcfe19066a93...|                 Baby|              371|               26|                4|              26|
|9dc1a7de274444849...|           Housewares|              625|               20|               17|              13|
+--------------------+---------------------+-----------------+-----------------+-----------------+----------------+
only showing top 5 rows

In [7]:
order_reviews.show(5)

+--------------------+--------------------+------------+-----------------------+-------------------------+--------------------+-----------------------+
|           Review_ID|            Order_ID|Review_Score|Review_Comment_Title_En|Review_Comment_Message_En|Review_Creation_Date|Review_Answer_Timestamp|
+--------------------+--------------------+------------+-----------------------+-------------------------+--------------------+-----------------------+
|7bc2406110b926393...|73fc7af87114b3971...|           4|                   NULL|                     NULL|    2024-01-18 00:00|    2024-01-18 21:46:00|
|80e641a11e56f04c1...|a548910a1c6147796...|           5|                   NULL|                     NULL|    2024-03-10 00:00|    2024-03-11 03:05:00|
|228ce5500dc1d8e02...|f9e4b658b201a9f2e...|           5|                   NULL|                     NULL|    2024-02-17 00:00|    2024-02-18 14:36:00|
|e64fb393e7b32834b...|658677c97b385a9be...|           5|                   NULL|     I received it wel...|    2023-04-21 00:00|    2023-04-21 22:02:00|
|f7c4243c7fe1938f1...|8e6bfb81e283fa7e4...|           5|                   NULL|     Congratulations l...|    2024-03-01 00:00|    2024-03-02 10:26:00|
+--------------------+--------------------+------------+-----------------------+-------------------------+--------------------+-----------------------+
only showing top 5 rows

Câu 2: Thống kê tổng số đơn hàng, số lượng khách hàng và người bán.

In [8]:
# Tổng số đơn hàng
totalOrders = orders.select("Order_ID").distinct().count()
print("Tổng số đơn hàng:", totalOrders)

# Số lượng khách hàng
totalCustomers = customers.select("Customer_Trx_ID").distinct().count()
print("Số khách hàng:", totalCustomers)

# Số lượng người bán
totalSellers = order_items.select("Seller_ID").distinct().count()
print("Số người bán:", totalSellers)

Tổng số đơn hàng: 99441
Số khách hàng: 99442
Số người bán: 3095

Câu 3: Phân tích số lượng đơn hàng theo quốc gia, sắp xếp theo thứ tự giảm dần.

In [9]:
ordersByCountry = orders.join(customers, on='Customer_Trx_ID', how='inner')
orders_per_country = ordersByCountry.groupBy("Customer_Country")\
                                    .count()\
                                    .orderBy("count", ascending = False)

orders_per_country.show(9)

+----------------+-----+
|Customer_Country|count|
+----------------+-----+
|         Germany|41754|
|          France|12848|
|     Netherlands|11629|
|         Belgium| 5464|
|         Austria| 5043|
|     Switzerland| 3640|
|  United Kingdom| 3382|
|          Poland| 2139|
|         Czechia| 2034|
+----------------+-----+
only showing top 9 rows

Câu 4: Phân tích số lượng đơn hàng nhóm theo năm, tháng đặt hàng (Hiển thị theo năm 
tăng dần, tháng giảm dần)

In [27]:
orders_Df_casted = orders.withColumn("Order_Purchase_Timestamp_Casted", to_timestamp(col("Order_Purchase_Timestamp"), "M/d/yyyy H:mm"))
orders_Df_casted.printSchema()

root
 |-- Order_ID: string (nullable = true)
 |-- Customer_Trx_ID: string (nullable = true)
 |-- Order_Status: string (nullable = true)
 |-- Order_Purchase_Timestamp: string (nullable = true)
 |-- Order_Approved_At: string (nullable = true)
 |-- Order_Delivered_Carrier_Date: string (nullable = true)
 |-- Order_Delivered_Customer_Date: string (nullable = true)
 |-- Order_Estimated_Delivery_Date: string (nullable = true)
 |-- Order_Purchase_Timestamp_Casted: timestamp (nullable = true)

In [28]:
orders_Df_casted = orders_Df_casted.drop("Order_Purchase_Timestamp")
orders_Df_casted.show(5)

+--------------------+--------------------+------------+-----------------+----------------------------+-----------------------------+-----------------------------+-------------------------------+
|            Order_ID|     Customer_Trx_ID|Order_Status|Order_Approved_At|Order_Delivered_Carrier_Date|Order_Delivered_Customer_Date|Order_Estimated_Delivery_Date|Order_Purchase_Timestamp_Casted|
+--------------------+--------------------+------------+-----------------+----------------------------+-----------------------------+-----------------------------+-------------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|  10/2/2023 11:07|             10/4/2023 19:55|             10/10/2023 21:25|              10/18/2023 0:00|            2023-10-02 10:56:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|   7/26/2024 3:24|             7/26/2024 14:31|               8/7/2024 15:27|               8/13/2024 0:00|            2024-07-24 20:41:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|    8/8/2024 8:55|              8/8/2024 13:50|              8/17/2024 18:06|                9/4/2024 0:00|            2024-08-08 08:38:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered| 11/18/2023 19:45|            11/22/2023 13:39|               12/2/2023 0:28|              12/15/2023 0:00|            2023-11-18 19:28:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|  2/13/2024 22:20|             2/14/2024 19:46|              2/16/2024 18:17|               2/26/2024 0:00|            2024-02-13 21:18:00|
+--------------------+--------------------+------------+-----------------+----------------------------+-----------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

In [29]:

orders_with_ym = orders_Df_casted.withColumn('year', year(col('Order_Purchase_Timestamp_Casted')))\
                                                   .withColumn('month', month(col('Order_Purchase_Timestamp_Casted')))
orders_with_ym = orders_with_ym.filter(col('year').isNotNull())
orders_grouped = orders_with_ym.groupBy('year', 'month').count().orderBy(col('year').asc(), col('month').desc())
orders_grouped.show(20, truncate=False)

+----+-----+-----+
|year|month|count|
+----+-----+-----+
|2022|12   |1    |
|2022|10   |324  |
|2022|9    |4    |
|2023|12   |5673 |
|2023|11   |7544 |
|2023|10   |4631 |
|2023|9    |4285 |
|2023|8    |4331 |
|2023|7    |4026 |
|2023|6    |3245 |
|2023|5    |3700 |
|2023|4    |2404 |
|2023|3    |2682 |
|2023|2    |1780 |
|2023|1    |800  |
|2024|10   |4    |
|2024|9    |16   |
|2024|8    |6512 |
|2024|7    |6292 |
|2024|6    |6167 |
+----+-----+-----+
only showing top 20 rows

Câu 5: Thống kê điểm đánh giá trung bình, số lượng đánh giá theo từng mức (ví dụ: 1 đến 
5).

In [ ]:
spark.conf.set("spark.sql.ansi.enabled", "false")


Reviews_Df = (
    order_reviews
    .withColumn("Review_Score_int", col("Review_Score").cast("int"))
    .filter(col("Review_Score_int").between(1, 5))
    .groupBy("Review_Score_int")
    .count()
    .orderBy("Review_Score_int")
)

Reviews_Df.show()

+----------------+-----+
|Review_Score_int|count|
+----------------+-----+
|               1|11424|
|               2| 3151|
|               3| 8179|
|               4|19141|
|               5|57328|
+----------------+-----+

In [26]:
avg_review_score = order_reviews.agg(avg(col("Review_Score")\
                                           .cast("float"))\
                                            .alias("Average_Review_Score"))
avg_review_score.show()

+--------------------+
|Average_Review_Score|
+--------------------+
|  4.0864214950162765|
+--------------------+

Bài 10: Xếp hạng các seller dựa trên tổng doanh thu và số lượng đơn hàng bán được.

In [16]:
orders_items_join = orders.join(
    order_items,
    on="Order_ID",
    how="inner"
)

orders_items_join.show(5)

+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|            Order_ID|     Customer_Trx_ID|Order_Status|Order_Purchase_Timestamp|Order_Approved_At|Order_Delivered_Carrier_Date|Order_Delivered_Customer_Date|Order_Estimated_Delivery_Date|Order_Item_ID|          Product_ID|           Seller_ID|Shipping_Limit_Date|Price|Freight_Value|
+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|00018f77f2f0320c5...|f6dd3ec061db4e398...|   delivered|         4/26/2023 10:53|  4/26/2023 11:05|              5/4/2023 14:35|              5/12/2023 16:04|               5/15/2023 0:00|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|     5/3/2023 11:05|239.9|        19.93|
|00042b26cf59d7ce6...|58dbd0b2d70206bf4...|   delivered|          2/4/2023 13:57|   2/4/2023 14:10|              2/16/2023 9:46|               3/1/2023 16:42|               3/17/2023 0:00|            1|ac6c3623068f30de0...|df560393f3a51e745...|    2/13/2023 13:57|199.9|        18.14|
|00054e8431b9d7675...|32e2e6ab09e778d99...|   delivered|        12/10/2023 11:53| 12/10/2023 12:10|             12/12/2023 1:07|             12/18/2023 22:03|                1/4/2024 0:00|            1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|   12/14/2023 12:10| 19.9|        11.85|
|0006ec9db01a64e59...|5d178120c29c61748...|   delivered|         7/24/2024 17:04|  7/24/2024 17:24|             7/25/2024 11:02|               7/31/2024 1:04|               8/22/2024 0:00|            1|99a4788cb24856965...|4a3ca9315b744ce9f...|    7/26/2024 17:24| 74.0|        23.32|
|000aed2e25dbad2f9...|fff5169e583fd07fa...|   delivered|         5/11/2024 20:33|  5/11/2024 20:57|             5/16/2024 14:26|              5/18/2024 16:46|               5/22/2024 0:00|            1|4fa33915031a8cde0...|fe2032dab1a61af87...|    5/16/2024 20:57|144.0|         8.77|
+--------------------+--------------------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
only showing top 5 rows

In [17]:
orders_items_revenue = orders_items_join.withColumn(
    "Revenue",
    col("Price") + col("Freight_Value")
)

orders_items_revenue.select(
    "Order_ID", "Seller_ID", "Revenue"
).show(5)

+--------------------+--------------------+------------------+
|            Order_ID|           Seller_ID|           Revenue|
+--------------------+--------------------+------------------+
|00010242fe8c5a6d1...|48436dade18ac8b2b...|             72.19|
|00018f77f2f0320c5...|dd7ddc04e1b6c2c61...|            259.83|
|000229ec398224ef6...|5b51032eddd242adc...|            216.87|
|00024acbcdf0a6daa...|9d7a1d34a50524090...|             25.78|
|00042b26cf59d7ce6...|df560393f3a51e745...|218.04000000000002|
+--------------------+--------------------+------------------+
only showing top 5 rows

In [30]:
seller_stats = orders_items_revenue.groupBy("Seller_ID") \
    .agg(
        count_distinct("Order_ID").alias("So_Luong_Don_Hang"),
        sum("Revenue").alias("Tong_Doanh_Thu")
    )

In [31]:
seller_ranking = seller_stats.orderBy(
    col("Tong_Doanh_Thu").desc()
)

seller_ranking.show(9)

+--------------------+-----------------+------------------+
|           Seller_ID|So_Luong_Don_Hang|    Tong_Doanh_Thu|
+--------------------+-----------------+------------------+
|4869f7a5dfa277a7d...|             1132|249640.69999999995|
|7c67e1448b00f6e96...|              982|239536.43999999997|
|53243585a1d6dc264...|              358|235856.67999999996|
|4a3ca9315b744ce9f...|             1806|235539.95999999985|
|fa1c13f2614d7b5c4...|              585|         204084.73|
|da8622b14eb17ae28...|             1314|         185192.32|
|7e93a43ef30c4f03f...|              336|         182754.05|
|1025f0e2d44d7041d...|              915|         172860.69|
|7a67c85e85bb2ce85...|             1160|162648.38000000003|
+--------------------+-----------------+------------------+
only showing top 9 rows